/* Header */
#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the icons horizontally */
    margin-left: auto;
    margin-right: auto;
    max-width: 77rem; /* Set maximum width for the container */
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1.25rem;
    opacity: 0.7;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  #filters {
    margin-left: 1rem; /* Adjust margin for smaller screens */
    margin-right: 1rem;
    max-width: none; /* Remove max-width for smaller screens */
  }

  .filter {
    margin-right: 1rem; /* Adjust margin for smaller screens */
  }
}


/* Footer */
.socialMedia-Icons {
    margin-right: 0.25rem;
    cursor: pointer;
}

.copyright,
.copyright-icon,
.text {
    font-size: smaller;
}

.globe,
.dollar {
    cursor: pointer;
}


/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;

}

.listing-link {
    text-decoration: none;
}


/* Show Page */
.show-img {
    height: 45vh;
}

.show-img:hover {
    cursor: pointer;
}

/* Show Page */
.flex {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}